<%- include('./partials/adminHeader'); %>


    <div >
        <%- include('./partials/adminAside'); %>


            <div class="addContent__wrapper">
                <h3>Edit About Page</h3>
                <form action="/admin/about" method="post" > 
                    <div>
                        <label for="">Heading</label>
                        <br>
                        <input  name="heading" type="text" value="<%=about.heading%>">
                    </div>

                    <div>
                        <label for="">Subheading</label>
                        <br>
                        <input type="text" name="shortDesc" value="<%=about.shortDesc%>">
                    </div>

                    <div>
                        <textarea name="editor" id="editor" cols="30" rows="10">
                           <%=about.editor%>
                      </textarea>
                    </div>

                    <button  class="saveBtn" type="submit">Save Changes</button>

                </form>
            </div>
    </div>



    <%- include('./partials/adminFooter'); %>