<%- include('./partials/adminHeader'); %>


<div >
    <%- include('./partials/adminAside'); %>

    <h2>Blog Area</h2>

    <div>
        <form action="/admin/blog/create" method="post" enctype="multipart/form-data">

            <select name="categoryId" id="">
                <% categories.forEach((category)=>{ %>
                    <option value="<%=category._id%>"><%=category.name %></option>
                <% }) %>
            </select>

            <input name="title" type="text" placeholder="Name">

            <div>
                <label for="">Cover</label>
                <input name="cover" type="file">
            </div>
            <div>
                <input name="tags" type="text" placeholder="add tags">
            </div>

            <div>
                <textarea name="editor" id="editor" cols="30" rows="10">

                </textarea>
            </div>

            <button type="submit">Add new post</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>