<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper">
    <%- include('./partials/adminAside'); %>

    <h3>Blog Edit</h3>

    <div>
        <form action="/admin/blog/<%=blog._id%>/edit" method="post">

            <div>
                <label for="category">Category</label>
                <br>
                <select name="categoryId" id="">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category._id%>"><%=category.name %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="">Title</label>
                <input name="title" type="text" placeholder="Blog title" value="<%=blog.title%>">
                <br>
            </div>

            <div>
                <label for="">Tags</label>
                <br>
                <input name="tags" type="text" placeholder="Add tags" value="<%=blog.tags%>">
            </div>



            <div>
                <textarea name="editor" id="editor" cols="30" rows="10">
                    <%=blog.editor%>
                </textarea>
            </div>

            <button class="saveBtn" type="submit">Update blog</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>