<%- include('./partials/adminHeader'); %>


<div >
    <%- include('./partials/adminAside'); %>

    <div class="addContent__wrapper">
        <h3>Create New Blog</h3>
        <form action="/admin/blog/create" method="post" enctype="multipart/form-data">

            <div>
                <label for="category">Category</label>
                <br>
                <select name="categoryId" id="category">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category._id%>"><%=category.name %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="title">Title</label>
                <br>
                <input name="title" type="text" placeholder="Blog Title" id="title">
            </div>
            <div>
                <label for="tags">Tags</label>
                <br>
                <input name="tags" type="text" placeholder="Add tags">
            </div>

            
            <div>
                <input name="cover" type="file" id="cover">
            </div>

            <div>
                <textarea name="editor" id="editor" cols="50" rows="20">

                </textarea>
            </div>

            <button class="saveBtn" type="submit">Save Blog</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>