<%- include('./partials/adminHeader'); %>


<div class="blogAll__content">
    <%- include('./partials/adminAside'); %>

    <div>
        <form class="addNewForm" action="/admin/categories/create" method="get">
            <button class="addNewBtn" type="submit">Add New</button>
        </form>

        <div class="latestContent">
            <div class="latestPosts__wrapper">
                <table>
                    <thead>
                        <tr class="card">
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(category) { %>
                            <tr class="card">
                                <td><%= category.name %></td>
                                <td><%= category.slug %></td>
                                <td>
                                    <a class="editBtn altBtn" href="/admin/categories/<%=category._id%>/edit">Edit</a>
                                    <a class="deleteBtn" href="/admin/categories/<%=category._id%>/delete">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
    
            </div>
        </div>
   
    </div>
</div>



<%- include('./partials/adminFooter'); %>