<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper">
    <%- include('./partials/adminAside'); %>

    <h3>Edit Category</h3>

    <div>
        <form action="/admin/categories/<%=category._id%>/edit" method="post">

            <div>
                <label for="">Name</label>
                <br>
                <input type="text" placeholder="Name" name="name" value="<%=category.name%>">
            </div>

            <div>
                <label for="">Slug</label>
                <br>
                <input type="text" placeholder="slug" name="slug" value="<%=category.slug%>">
            </div>

            
            

            <button class="saveBtn" type="submit">Edit</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %>