<%- include('./partials/adminHeader'); %>


<div class="admin__dashboard">
    <%- include('./partials/adminAside'); %>

    <h2>Posts</h2>

    <div>
        <form action="/admin/posts/create/" method="get">
            <button type="submit">Add</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% posts.forEach((post) =>{ %>
              
                    <tr>
                        <td>
                            <% post.category.forEach((cat) =>{%>
                                 <%=cat.name%>
                            <% })%>
                        </td>
                        <td><%=post.title%></td>
                        <td><%=post.createDate%></td>
                        <td></td>
                        <td>
                            <a href="/admin/posts/<%=post._id%>/edit-cover">Cover</a>
                            <a href="/admin/posts/<%=post._id%>/edit">Edit</a>
                            <a href="/admin/posts/<%=post._id%>/delete">Delete</a>
                        </td>
                    </tr>
               <% })%>
           
            </tbody>
        </table>
    </div>
</div>



<%- include('./partials/adminFooter'); %>