<%- include('./partials/adminHeader'); %>


<div class="blogAll__content">
    <%- include('./partials/adminAside'); %>

    <div>
        <form class="addNewForm" action="/admin/posts/create/" method="get">
            <button class="addNewBtn" type="submit">Add Post</button>
        </form>

        <% if (posts.length) { %>
                         
        <div class="latestContent">
            <div class="latestPosts__wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach((post) =>{ %>
                      
                            <tr class="card">

                                <td>
                                    <% if (post.images.cover) { %>
                                        <img class="altImg" src="/<%=post.images.cover[0].filename%>" alt="" width="50px" height="50px">
                                        <% } %>
                                </td>

                                <td>
                                    <% post.category.forEach((cat) =>{%>
                                         <%=cat.name%>
                                    <% })%>
                                </td>
                                <td><%=post.title%></td>
                                <td><%=post.createDate%></td>
                                <td>
                                    <a class="coverBtn" href="/admin/posts/<%=post._id%>/edit-cover">Cover</a>
                                    <a class="editBtn altBtn" href="/admin/posts/<%=post._id%>/edit">Edit</a>
                                    <a class="deleteBtn" href="/admin/posts/<%=post._id%>/delete">Delete</a>
                                </td>
                            </tr>
                       <% })%>
                   
                    </tbody>
                </table>
            </div>
        </div>
        <% } else { %>
            <div class="emptyContent">
                <h2>Ooops!</h2>
                <img src="../../../assets/images/emptyContent.jpg" alt="">
                <p>You don't have any portfolio's...</p>
            </div>
         <%}%>

    
    </div>
</div>



<%- include('./partials/adminFooter'); %>