<%- include('./partials/adminHeader'); %>


<div >
    <%- include('./partials/adminAside'); %>

    <h2>Edit post</h2>

    <div>
        <form action="/admin/posts/<%=post._id%>/edit" method="post">

            <select name="categoryId" id="">
                <% categories.forEach((category)=>{ %>
                    <option value="<%=category._id%>"><%=category.name %></option>
                <% }) %>
            </select>

            <input name="title" type="text" placeholder="Name" value="<%=post.title%>">

            <!-- <div>
                <label for="">Cover</label>
                <input name="cover" type="file">
            </div>
            <div>
                <label for="">Images of the work</label>
                <input name="images" type="file" multiple>
            </div> -->

            <div>
                <textarea name="editor" id="editor" cols="30" rows="10">
                    <%=post.editor%>     
                </textarea>
            </div>

            <button type="submit">Edit post</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>