<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper" >
    <%- include('./partials/adminAside'); %>

    <h3>Edit post</h3>

    <div>
        <form action="/admin/posts/<%=post._id%>/edit" method="post">

            <div>
                <label for="">Category</label>
                <br>
                <select name="categoryId" id="">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category._id%>"><%=category.name %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="">Title</label>
                <input name="title" type="text" placeholder="Post title" value="<%=post.title%>">
            </div>


            <div>
                <textarea name="editor" id="editor" cols="30" rows="10">
                    <%=post.editor%>     
                </textarea>
            </div>

            <button class="saveBtn" type="submit">Edit post</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>