<%- include('./partials/adminHeader'); %>


    <div class="blogAll__content">
        <%- include('./partials/adminAside'); %>

            <h2>Services</h2>

            <div>
                <form class="addNewForm" action="/admin/services/create/category" method="get">
                    <button class="addNewBtn" type="submit">Add Category</button>
                </form>
                <form class="addNewForm" action="/admin/services/create" method="get">
                    <button class="addNewBtn" type="submit">Add Service</button>
                </form>

                <% if (services.length) { %>

                <div class="latestContent">
                    <div class="latestPosts__wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% services.forEach((service)=>{ %>
        
                                    <tr>
                                        <td>
                                            <% service.service.forEach((serv)=>{ %>
                                                <%=serv.name %>
                                                    <% }) %>
        
                                        </td>
                                        <td>
                                            <%=service.name%>
                                        </td>
        
                                        <td>
                                            <a class="editBtn altBtn" href="/admin/services/<%=service._id%>/edit">Edit</a>
                                            <a class="deleteBtn" href="/admin/services/<%=service._id%>/delete">Delete</a>
                                        </td>
                                    </tr>
        
                                    <% }) %>
        
        
                            </tbody>
                        </table>
                    </div>
                </div>
                <% } else { %>
                    <div class="emptyContent">
                        <h2>Ooops!</h2>
                        <img src="../../../assets/images/emptyContent.jpg" alt="">
                        <p>You don't have any services...</p>
                    </div>
                    <%}%>


            </div>
    </div>



    <%- include('./partials/adminFooter'); %>