<%- include('./partials/adminHeader'); %>


<div class="addContent__wrapper">
    <%- include('./partials/adminAside'); %>

    <h3>Edit service</h3>

    <div>
        <form action="/admin/services/<%=service._id%>/edit" method="post">

            <div>
                <label for="">Category</label>
                <br>
                <select name="categoryId" id="">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category._id%>"><%=category.name %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="">Name</label>
                <br>
                <input name="name" type="text" value="<%=service.name%>">
            </div>


            <button class="saveBtn" type="submit">Update service</button>
        </form>

     
    </div>
</div>



<%- include('./partials/adminFooter'); %></div>