<%- include('./partials/header'); %>

                <!-- Container -->
                    <main class="ms-container">

                        <h1><%=about.heading%></h1>
                        <p><%=about.shortDesc%></p>

                        <%- include ('./partials/container') %> 

                        <div class="content">
                            <%-about.editor%>
                        </div>

                        <div class="offers">
                            <% categories.forEach((category) => { %>
                                <ul>
                                    <li>
                                        <h5><%=category.name%></h5>
                                    </li>
                                    <% category.services.forEach((service) => { %>
                                        <li><%=service.name%> </li>
                                    <% })%>
                                </ul>
                            <% }) %>
                        </div>


                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container -->


                <%- include('./partials/footer'); %>

            