<%- include('./partials/header'); %>

    <!-- Container -->
    <main class="about__wrapper">

        <div class="about__banner">
            <span>Gandhara origin</span>
            <h1 class="about__title">
                <%=about.heading%>
            </h1>
            <p class="about__desc">
                <%=about.shortDesc%>
            </p>
        </div>



        <div class="content__wrapper">

            <div class="content">
                <%-about.editor%>
            </div>
        </div>

    </main>


    <%- include('./partials/footer'); %>