<%- include('./partials/header'); %>

                <!-- Container -->
                    <main class="ms-container">

                        <%- include ('./partials/container') %> 

                        <div class="post-wrapper">
                             <% posts.forEach((post) => { %>
                                <div class="post">
                                    <a href="/post/<%=post._id%>">
                                        <article style="width:300px; min-height:200px; background-image:url('<% if(!post.images.cover) {%>/assets/images/works/pl-md.jpg<%}else { %>/<%=post.images.cover[0].filename%><%}%>')">
                                            <div>
                                                <span>
                                                    <% post.category.forEach((cat)=> { %>
                                                           <%=cat.name%>
                                                    <% }) %>
                                                </span>
                                                <h4><%=post.title%></h4>
                                            </div>
            
                                        </article>
                                    </a>
                                </div>
                             <%})%>
                        </div>
                     

                                <!-- Pagination -->
                                    <div class="ms-section__block">
                                        <ul class="ms-pagination">
                                            <li>
                                                <a href="#">
                                                    <span class="ms-btn__icon"><i class="material-icons">keyboard_arrow_left</i></span>
                                                </a>
                                            </li>
                                            <li><a href="#" class="ms-btn active">1</a></li>
                                            <li><a href="#" class="ms-btn">2</a></li>
                                            <li><a href="#" class="ms-btn">3</a></li>
                                            <li><a href="#" class="ms-btn">4</a></li>
                                            <li><a href="#">
                                                <span class="ms-btn__icon">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                <!-- /Pagination -->

                            </section>
                        <!-- /Works Grid -->

                        <!-- Back to top button -->
                        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
                    </main>
                <!-- /Container --> 
                <%- include('./partials/footer'); %>