<%- include('./partials/header'); %>

    <!-- Container -->
    <main class="blogPage">

        <ul class="blog__categories">
            <li>
                <a href="/blog/all/1/<%=settings.blogLimit%>">All</a>
            </li>
            <%categories.forEach((category)=> { %>

                <li>
                    <a href="/blog/<%=category._id%>/1/<%=settings.blogLimit%>">
                        <%=category.name%>
                    </a>
                </li>
                <% }) %>

        </ul>



        <div class="blogPage__wrapper">
            <% blogs.forEach((blog)=> { %>
                <a href="/blog/<%=blog._id%>">
                    <article class="blogPage__card"
                        style="background-image:url('<% if(!blog.cover) {%>/assets/images/works/pl-md.jpg<%}else { %>/<%=blog.cover.filename%><%}%>')">

                        <span>
                            <% blog.category.forEach((cat)=> { %>
                                <%=cat.name%>
                                    <% }) %>
                        </span>
                        <h4>
                            <%=blog.title%>
                        </h4>



                    </article>
                </a>
                <%})%>
        </div>


        <!-- Pagination -->
        <div class="ms-section__block">
            <ul class="ms-pagination">

            
            
      
            <a href="/blog/<%=currentCategory%>/<%=currentPage-1%>/<%=settings.blogLimit%>"> <button <%if(currentPage <= 1){%>disabled<%}%> >Previous</button></a>
            <a href="/blog/<%=currentCategory%>/<%=currentPage+1%>/<%=settings.blogLimit%>"><button <%if(blogs.length !== Number(settings.blogLimit)){%>disabled<%}%> >Next</button></a>
            </ul>
           
        </div>
        <!-- /Pagination -->

        </section>
        <!-- /Works Grid -->

        <!-- Back to top button -->
        <a href="#" class="back-top"><i class="material-icons">arrow_upward</i></a>
    </main>
    <!-- /Container -->
    <%- include('./partials/footer'); %>