<%- include('./partials/header'); %>

    <!-- Container -->

    <% if (slides.length) { %>
        <div class="slider">
             <% slides.forEach(slide => { %>
                 <div class="slide" style="background-image:url('<% if(!slide.photo) {%>/assets/images/works/pl-md.jpg<%}else { %>/<%=slide.photo.filename%><%}%>')">
                     <h2><%=slide.title%></h2>
                     <p><%=slide.description%></p>
                     <a href="<%=slide.link%>">Show more</a>
                </div>
             <% }) %>
        </div>
    <% } %>

    <main class="ms-container">

        <%- include ('./partials/container') %>

            <ul>
                <%categories.forEach((category)=> { %>
                    <li>
                        <%=category.name%>
                    </li>
                    <% }) %>

            </ul>

            <div>
                <%posts.forEach((post)=> { %>
                    <div class="post">
                        <a href="/post/<%=post._id%>">
                            <article style="width:300px; min-height:200px; background-image:url('<% if(!post.images.cover) {%>/assets/images/works/pl-md.jpg<%}else { %>/<%=post.images.cover[0].filename%><%}%>')">
                                <div>
                                    <span>
                                        <% post.category.forEach((cat)=> { %>
                                               <%=cat.name%>
                                        <% }) %>
                                    </span>
                                    <h4><%=post.title%></h4>
                                </div>

                            </article>
                        </a>
                    </div>
                    <% }) %>
            </div>


    </main>
    <!-- /Container -->
    <%- include('./partials/footer'); %>